<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShotPitchJSONTrial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7305A7FE1C6B44A30070BE04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7305A8121C6B44A40070BE04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7305A81D1C6B44A40070BE04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
